
// utils
@import "./utils/variables";
@import "./utils/mixin";
@import "./utils/animation";

// bases
@import "./bases/index";

// components
@import "./components/index";

// layout
@import "./layout/footer";

// pages
@import "./pages/index";
@import "./pages/restaurants-pages";
// responsive
@import "./pages/responsive/restaurants.responsive";
@import "./pages/responsive/index.responsive";
