// brand color
$primary-color:#9356DC;
$secondary-color:#FF79DA;
$tertiary-color:#99E2D0;
$new-color:#047c5e;
$hover-color:#f5edff;

// background
$bg-new-color:#8ae7d0;
$bg-welcome:#F6F6F6;
$bg-search:#EAEAEA;
$bg-footer:#353535;

$bg-shadow:#cfcfcf;

// font
$font-size-h1: 3rem;
$font-size-h2: 2rem;
$font-size-h3: 1.5rem;
$font-size-p: 1rem;
$font-size-p_bis: 0.8rem;

$font-weight-logo: 100;