
// brand color
$primary-color:#9356DC;
$secondary-color:#FF79DA;
$tertiary-color:#99E2D0;
$new-color:#047c5e;
$new-color:#8ae7d0;
$hover-color:#f5edff;
// background
$bg-welcome:#F6F6F6;
$bg-search:#EAEAEA;
$bg-footer:#353535;

$bg-shadow:#cfcfcf;

// font
$font-size-h1: 24px;
$font-size-h2: 18px;
$font-size-h3: 16px;
$font-size-p: 14px;

$font-weight-logo: 100;